{% extends "base.html" %}

{%block info%}
        <p> 
            This contains all info about me!
        </p>
{%endblock%}

{%block heading1%}
<h3>
    Who I Am
</h3>
{%endblock%}

{%block body1%}
<p>
    My name is Dawid Jerdonek and I am a third year student of BSc (Hons) Computer Games Development in
    Carlow Institute of Technology.<br>
    I am 20 years old and I live in Portarlington. I was born in Poland
    and came to Ireland with my parents at the age of 4/5. <br>
</p>
{%endblock%}



{%block return%}
<p>
    <a href= "/home">Return to main page </a>
</p>
{%endblock%}