{% extends "base.html" %}

{%block info%}
        <p> 
            The Game where YOU create SMALL words using letters in the BIG words that WE give YOU
        </p>
{%endblock%}

{%block heading1%}
<h3>
   How to play?
</h3>
{%endblock%}

{%block body1%}
<p>
    A word composed of eight or more letters will be displayed.<br>
    You are to input seven words made up of letters contained in the given word.<br>
    <br>
    <b>RULES:</b>    <br>
    <ol>
        <li>Each word can only be made using the letters contained within the given word.</li>
        <li>You cannot use a letter more times than it appears in the given word.</li>
        <li>Each word must exist within the dictionary.</li>
        <li>Each word must have four letters or more.</li>
        <li>There are no duplicate words allowed.</li>
        <li>None of the seven words can be the same as the given word.</li>
        <li>Character case is not significant</li>
        <li>Names will not be counted as words</li>
     </ol>
    HAVE FUN :)<br>
    <br>
    <p>
        <a href= "/play">BEGIN GAME</a>
    </p>
</p>
{%endblock%}
