<!DOCTYPE html>
<html>
    <head>
        <title>{{the_title}}</title>
    </head>
    <body>
        <h2>{{the_title}}</h2>
        {%block info%}
        {%endblock%}

        {%block heading1%}
        {%endblock%}
        {%block body1%}
        {%endblock%}
        
        {%block heading2%}
        {%endblock%}
        {%block body2%}
        {%endblock%}

        {%block heading3%}
        {%endblock%}
        {%block body3%}
        {%endblock%}

        {%block heading4%}
        {%endblock%}
        {%block body4%}
        {%endblock%}

        
        {%block previous%}
        {%endblock%}

        {%block return%}
        {%endblock%}
    </body>
</html>
