{% extends "base.html" %}


{%block info%}

        <p> 
            Your given word is: {{given_word}}
        </p>
{%endblock%}

{%block heading1%}
<h3>
    Use one space between each word, do not use commas.
</h3>
{%endblock%}

{%block body1%}

<p>
    <form action="/processwords">
        <label for="words">Input words:</label>
        <input type="text" required="" id="words" name="words"><br><br>
        <input type="submit" value="FINISH">
      </form>
</p>
{%endblock%}



{%block continue%}

{%endblock%}