{% extends "base.html" %}

{%block info%}
        <p> 
            Let's See, Your given word was: {{given_word}}
        </p>
{%endblock%}

{%block heading1%}
<h3>
    Words the player input:
</h3>
{%endblock%}

{%block body1%}
<p>
    <ol>
        <li>{{input_words}}</li>
        <li>{{validity}}</li>
        <li>Time taken: {{time_score}}</li>
        <li>Date played: {{date_joined}}</li>
    </ol>

    
</p>
{%endblock%}



{%block continue%}

<form action="/top10">
    <label for="username">Username:</label>
    <input type="text" required="" id="username" name="username"><br><br>
    <input type="submit" value="Confirm name">
  </form>
{%endblock%}
