{%block heading1%}
<h3>
    Assassin's Creed
</h3>
{%endblock%}
{%block body1%}
<p>
    Assassin's Creed is an open-world action-adventure stealth video game franchise published by Ubisoft
    and developed mainly by its studio Ubisoft Montreal using the game engine Anvil and its more advanced derivatives.<br>
    Created by Patrice Désilets, Jade Raymond, and Corey May, the Assassin's Creed series depicts a fictional millennia-old 
    struggle between the Assassins, who fight for peace with free will, and the Templars, who desire peace through order and control.<br>
    The series features historical fiction, science fiction and fictional characters intertwined with real-world historical events and figures.<br>
    For the majority of time players control an Assassin in the past history, while also playing as an Assassin Initiate in the present day,
    who hunt down their Templar targets.<br>
    The series took inspiration from the novel Alamut by the Slovenian writer Vladimir Bartol, 
    based on the historical Hashashin sect of the medieval Middle East, while building upon concepts from the Prince of Persia series.<br>
    <br>
    My Favourite Game in the franchise is Assassin's Creed IV: Black Flag
    <br>
    <br>
    <a href="https://assassinscreed.fandom.com/wiki/Assassin%27s_Creed_(series)" target="_blank">Even more on Assassins Creed</a>
</p>
{%endblock%}

{%block previous%}
<p>
    <a href= "/games">Other Games </a>
</p>
{%endblock%}

{%block return%}
<p>
    <a href= "/home">Return to main page </a>
</p>
{%endblock%}