{%block heading1%}
<h2>
    Top 10 Highscores
</h2>
{%endblock%}
{%block body1%}
<p>
    <table>
        <tr>
          <th>Username</th>
          <th>Score</th>
          <th>Word Given</th>
          <th>Words Input</th>
        </tr>
        <tr>
          <td>Username</td>
          <td>Score</td>
          <td>Word Given</td>
          <td>Words Input</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>Score</td>
            <td>Word Given</td>
            <td>Words Input</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>Score</td>
            <td>Word Given</td>
            <td>Words Input</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>Score</td>
            <td>Word Given</td>
            <td>Words Input</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>Score</td>
            <td>Word Given</td>
            <td>Words Input</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>Score</td>
            <td>Word Given</td>
            <td>Words Input</td>
        </tr>
      </table>
</p>
{%endblock%}

{%block home%}
<button onclick="window.location.href='/'">
    RETURN TO RULES
</button>
{%endblock%}

{%block continue%}
<button onclick="window.location.href='/play'">
    REPLAY GAME
</button>
{%endblock%}